<h1 class="mb-4">Edit question</h1>

<!-- С помощью render подставляем форму, взятую из файла _form.html.erb ,
находящегося в этой же папке -->
<%= render 'form' %>

<!-- Чтобы подключать файл из другой папки нужно прописывать путь по другому,
например 'pages/form' приведет в другую папку -->