<% currently_at 'Home' %>
<% provide :page_title %>

<%#  Переменная @name определена и взятя из метода index контроллера pages %>
<h1>Welcome!!</h1>

&copy; @maverick <%= Time.now.year %>

<%# Информация из этого отображения вставляется в главную страницу(своеобразный каркас) layouts/application.html.erb через конструкцию -yield- %>